POSTGRES_DB=kynakee
POSTGRES_USER=kynakee
POSTGRES_PASSWORD=change-me

ASPNETCORE_ENVIRONMENT=Development
API_HTTP_PORT=8080            # API internal port

RABBITMQ_DEFAULT_USER=kynakee
RABBITMQ_DEFAULT_PASS=change-me

NGROK_AUTHTOKEN=
NGROK_DOMAIN=
NGROK_INSPECTOR_PORT=4040

GATEWAY_HOST_PORT=8080
GATEWAY_HTTP_PORT=8080
POSTGRES_PORT=5432
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
REDIS_PORT=6379
QDRANT_HTTP_PORT=6333
QDRANT_GRPC_PORT=6334